/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/_ide_helper.php
_ide_helper.php
config/ide-helper.php
resources/views/vendor/
/temp
/app/Notifications/InvoicePaid.php
/tcp/temp/socket.modify.php
/public/bower_components
/public/assets
